<kt-portlet>
	<kt-portlet-body>
		<div class="row">
			<div class="col-md-12">
			  	<div class="head">
				   <h2>Main Text</h2>
			  	</div>

		  		<form class="kt-form" [formGroup]="homeForm" autocomplete="off">
				    <div class="form-group">
					    <label>Text</label>
						
						<ejs-richtexteditor #toolsRTE id='alltoolRTE' [toolbarSettings]='tools' formControlName="banner_text"></ejs-richtexteditor>
						
						<span *ngIf="homeForm.controls.banner_text.hasError('required') && homeForm.controls.banner_text.touched">
							<strong>Please add text.</strong>
						</span>
			      	</div>
						
		     	 	<div class="form-group">
		     	 		<label>Image <em style="font-size: 12px; color: chocolate;margin: 0 0 0 12px;">* Size should be 400 x 400</em></label>
		     	 		<div class='imageParent'>
		     	 			<input type="file" (change)="onFileChanged($event,image)" #fileInput  name="file"
                       ngf-pattern="'image/*'" accept="image/*" ngf-max-size="200MB" id="input-file-now" class="dropify" filepreview="filepreview" formControlName='banner_image' fileinput="file"  ngf-select>
                   		</div>

                   		<span *ngIf="imageSizeError" style="font-weight:bold;color:red;">
							{{imageSizeError}}
						</span>

					    <div class="formimg" style="width:100%;display:inline-block;margin:10px 0 0 0;" >
					      <img height="110px" src="{{banner_image}}" id="ban_img"/>
					      <img src="./assets/media/delete.png" (click)='deleteImage()'  style="
    width: 20px;
    position: absolute;
    height: 20px;
    margin: -6px 0 0 -12px;
"  *ngIf="imageBan != null"/>
				        </div>

				        <span *ngIf="showError">
							<strong>Please add image.</strong>
						</span>
		     	 	</div>
					<hr>
					<div class="col-md-12 text-right">
					 	<button class="btn btn-submit mt-3" (click)="submit()">
					 		Submit
					 	</button>
					</div>
				</form>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet> 

