<!-- begin:: Footer -->
<!-- <div style="position: fixed;top: 0;font-weight: 500;background: red;color: #fff;padding: 4px 23px;text-align: center;margin: 0 auto;right: 0;" *ngIf="errorChk?.status == '0'">
	Please add some data under home tab to enable your web page.
</div>
<div style="position: fixed;top: 0;font-weight: 500;background: red;color: #fff;padding: 4px 23px;text-align: center;margin: 0 auto;right: 0;" *ngIf="diffDays < 22">
	Your subscription will expire in {{diffDays}} day(s)
</div> -->

<div class="kt-footer kt-grid__item" id="kt_footer">
	<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
		<div class="kt-footer__wrapper">
			<div class="kt-footer__copyright">
				© 2020 Apex Insurance Group, All Rights Reserved.
			</div>
			
		</div>
	</div>
</div>
